* {
    margin: 0 auto;
}

html {
    font-family: 'Franklin Gothic Medium';
}

.head {
    background-color: rgb(213, 0, 34);
    color: white;
    width: 100%;
    padding: 1.8rem;
}

fieldset {
    margin: 1rem auto;
    width: 50%;
    border: 0;
    border-bottom: 2px solid rgb(127, 127, 127);
}

label {
    display: block;
    margin: 1rem 0;
}

input {
    border: 1.5px solid rgb(127, 127, 127);
    border-radius: 0.25rem;
    box-shadow: ;
}

textarea {
    width: 100%;
    border: 1.5px solid rgb(127, 127, 127);
    border-radius: 0.25rem;
}

#name, #email, #number {
    width: 100%;
    margin: 0.5rem auto;
}

#title, #description {
    margin: auto;
}

#submit {
    margin: auto;
}